.header {
    background-color: purple;
    height: 40px;
    padding: 11px;
}

.header img {
    height: 35px;
    background-color: #ff7f7f;
    float: left;
}

.header #header-title {
    font-size: x-large;
    font-weight: normal;
    color: white;
}

.header Button {
    float: right;
    margin-top: -30px;
}

.typography {
    background-color: #800080;
    color: white;
    font-size: large;
    font-weight: 400;
    padding: 5px 5px 5px 8px;
}